/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
/.homestead/phpmyadmin-placeholder/*
!/.homestead/phpmyadmin-placeholder/.placeholder
.vagrant
.DS_Store
Thumbs.db
/vagrant/.vagrant/*
composer.lock

composer.lock